<section class="about-hero">
  <div class="container about-content">
    <div class="avatar-wrapper">
      <img src="../../../assets/oumaima-avatar.png" alt="Oumaima's Avatar" class="my-avatar">
    </div>
    <h1>Hi, I'm Oumaima!</h1>
    <p class="intro-paragraph">
      Welcome to my personal website! I'm a full-stack developer with a passion for everything and anything.
    </p>
    <div class="about-details">
      <p>
        On this website, I share my thoughts, resources, projects and offer you a glimpse into my world.
        Whether you're looking for inspiration, collaboration, or just want to know more about me, you've come to the right place!
      </p>
      <p>
        Feel free to contact me via the <a routerLink="/contact">contact page</a> if you have any questions or just want to say hello!
      </p>
    </div>
  </div>
</section>
