<div class="profile">
  <div class="wrapper">
    <div class="nav">
      <div class="nav__search-bar">
        <input type="text" placeholder="Search..." />
      </div>
      <div class="nav__notification-icon">
        <i class="fas fa-bell"></i>
      </div>
      <div class="nav__profile-icon">
        <i class="fas fa-user-circle"></i>
      </div>
    </div>

    <div class="section-1">
      <h2>About me</h2>
      <div class="info">
        <div class="info__personal">
          <div class="info__image">
            <img src="./assets/logo.svg" alt="cartoon image of me">
          </div>
          <div class="info__more-info">
            <div class="mini-wrapper">
              <div class="info__more-info title">
                <div class="head">
                  <h3>Oumaima Zerouali</h3>
                  <p>oumaima.zerouali&#64;gmail.com</p>
                </div>
                <div class="socials">
                  <a href="[LinkedIn Link]"><i class="fab fa-linkedin"></i></a>
                  <a href="[Instagram Link]"><i class="fab fa-instagram"></i></a>
                  <a href="[GitHub Link]"><i class="fab fa-github"></i></a>
                </div>
              </div>
              <div class="info__more-info specifics">
                <div class="spec">
                  <img src="./assets/icons/java.png" alt="Java" />
                </div>
                <div class="spec">
                  <img src="./assets/icons/angular.png" alt="Angular" />
                </div>
                <div class="spec">
                  <img src="./assets/icons/aws.png" alt="AWS" />
                </div>
                <div class="spec">
                  <img src="./assets/icons/springboot.png" alt="Spring Boot" />
                </div>
                <div class="spec">
                  <img src="./assets/icons/quarkus.png" alt="Quarkus" />
                </div>
              </div>
              <div class="info__more-info more-info">
                <p>I’m Oumaima, and I am a backend developer with frontend experience.
                  A passionate and driven junior developer with a strong commitment to learning and innovation.</p>
                <button>CV</button>
              </div>
            </div>
          </div>
        </div>
        <div class="info__work-experience">
          <h3>Work Experience</h3>
          <div class="experience">
            <div class="experience__icon">
              <i class="fas fa-briefcase"></i>
            </div>
            <div class="experience__info">
              <h4>Full-stack developer</h4>
              <p>Sopra Steria</p>
              <p>Sept 2023 - present</p>
            </div>
          </div>
          <div class="experience">
            <div class="experience__icon">
              <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="experience__info">
              <h4>Cloud internship</h4>
              <p>Sopra Steria</p>
              <p>Apr. 2023 - Sept 2023</p>
            </div>
          </div>
          <div class="experience">
            <div class="experience__icon">
              <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="experience__info">
              <h4>Software internship</h4>
              <p>Colruyt</p>
              <p>Feb. 2023 - Apr 2023</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-2">
      <h2>Education</h2>
      <div class="school">
        <div class="school-square">
          <div class="school-square__header">
            <div class="school-square__header info">
              <h4>Erasmus Hogeschool</h4>
              <p>Sept. 2021 - Jul. 2023</p>
            </div>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
          <p class="school-square__course">Programming</p>
          <p class="school-square__description">
            First introdu
          </p>
        </div>
        <div class="school-square">
          <div class="school-square__header">
            <div class="school-square__header info">
              <h4>VUB</h4>
              <p>Sept. 2020 - Jul. 2021</p>
            </div>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
          <p class="school-square__course">Political & Social Sciences</p>
          <p class="school-square__description">
            A brief description of the program and what I learned.
          </p>
        </div>
        <div class="school-square">
          <div class="school-square__header">
            <div class="school-square__header info">
              <h4>Hhc</h4>
              <p>Sept. 2014 - Jul. 2020</p>
            </div>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
          <p class="school-square__course">Secondary School</p>
          <p class="school-square__description">
            A brief description of the program and what I learned.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
