<section class="more-info"
         (mousedown)="onMouseDown($event)"
         (mousemove)="onMouseMove($event)"
         (mouseup)="onMouseUp()">
  <div class="card" #draggableCard>
    <div class="controls">
      <div class="window-button">
        <button class="close-button" (click)="close($event)"></button>
        <button class="minimize-button"></button>
      </div>
      <div>
        Who is Oumaima?
      </div>
      <div></div>
    </div>

    <div class="image">
      <img ngSrc="assets/img/picto-oumi.png" height="200" width="200">
    </div>

    <div class="actual-info">
      <div class="heading">Hello, I am Oumaima Zerouali</div>
      <div class="description">
        Aa passionate and driven junior developer with a strong commitment to learning and innovation.
        Currently, I am focused on honing my skills and expanding my knowledge to excel in software development. Each
        day presents an opportunity for growth, and I embrace the challenge of discovering new technologies and
        methodologies to enhance my craft.
        I graduated with a degree in Programming from EHB.
        I am proficient in Java, Angular, SQL and I am continuously seeking to
        learn more about Clean Architecture, TDD and other very interesting topics.
      </div>
    </div>
  </div>
</section>
