.more-info {
  position: absolute;
  cursor: move;
  user-select: none;

  .card {
    cursor: pointer;
    border: var(--color-black) solid;
    background-color: var(--color-grey);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 24rem;
    height: 40rem;

    font-family: "system-ui";
    color: var(--color-black);

    position: absolute;

    .controls {
      border: var(--color-black) solid;
      border-top: none;
      width: 100%;

      font-size: var(--font-size-14);
      margin-bottom: 15px;

      display: flex;
      justify-content: space-between;

      button {
        height: 12px;
        width: 12px;

        display: inline-block;
        margin-right: 5px;
        border-radius: 50%;

        border: none;
        cursor: pointer;
      }
      .window-button {
        margin-left: 10px;

        .close-button {
          background-color: #ff5f57;
        }

        .minimize-button {
          background-color: #ffbd2e;
        }
      }
    }

    .image {
      background-color: var(--color-purple);
      border: var(--color-black) solid;

      height: 200px;
    }

    .actual-info {
      height: 100%;
      margin: 30px;

      .heading {
        font-size: var(--font-size-24);
        font-weight: var(--weight-600);

        margin-bottom: 10px;
      }
    }
  }
}
