<section class="hero-section">
  <div class="container hero-layout"> <div class="hero-image-side">
    <img src="../../../assets/oumaima-avatar.png" alt="Oumaima's Avatar" class="hero-avatar">
  </div>

    <div class="hero-text-side">
      <h1>Hey, I'm Oumaima!</h1>
      <p class="intro-text">Welcome to my personal corner of the web. Here you'll discover more about who I am, what I do, and things I find cool. Feel free to take a look!</p>
      <div class="hero-buttons">
        <a routerLink="/about-me" class="button button-primary">More about me</a>
        <a routerLink="/links" class="button button-secondary">Check out my favorites</a>
      </div>
    </div>

  </div>
</section>
