@import 'styles';

.main-footer {
  background-color: $color-text-dark;
  color: $color-text-light;
  padding: 30px 0;
  text-align: center;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.main-footer p {
  margin: 0;
  font-size: 0.9em;
  color: #bbb;
}

.footer-social {
  margin-top: 15px;
}

.footer-social a {
  color: $color-text-light;
  font-size: 1.5em;
  margin: 0 10px;
  transition: color 0.3s ease;

  &:hover {
    color: $color-primary;
  }
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-social {
    margin-top: 0;
  }
}
