<div class="contact-container">
  <div class="contact-header">
    <h2>Contact</h2>
  </div>

  <div class="contact-section">
    <div class="contact-item">
      <label for="email">E-mail:</label>
      <input type="text" id="email" value="oumaima.zerouali@gmail.com" readonly class="text-input">
      <a href="mailto:oumaima.zerouali@gmail.com" class="button-98">Send...</a>
    </div>

    <div class="contact-item">
      <label>Sociale Media:</label>
      <a href="https://www.linkedin.com/in/oumaima-zerouali-16b189223/" target="_blank" class="button-98">LinkedIn</a>
      <a href="https://github.com/OumaimaZerouali" target="_blank" class="button-98">GitHub</a>
    </div>

    <div class="contact-item">
      <label>Blog:</label>
      <input type="text" value="https://oumaimazerouali.github.io/devs-insights/" readonly class="text-input">
    </div>
  </div>
</div>
