<div class="nav-bar">
  <div class="logo">
    <p>OUMI</p>
  </div>

  <div class="nav-bar__items">
    <a routerLink="/home"><i class="fas fa-home"></i> Home</a>
    <a routerLink="/profile"><i class="fas fa-user"></i> Profile</a>
    <a routerLink="/bookmarks"><i class="fas fa-bookmark"></i> Bookmarks</a>
    <a routerLink="/contact"><i class="fas fa-envelope"></i> Contact</a>
  </div>

  <div class="nav-bar__footer">
    <a routerLink="/preferences"><i class="fas fa-cog"></i> Preferences</a>
    <a routerLink="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
  </div>
</div>

