<header class="main-header">
  <nav class="container nav-container">
    <a routerLink="/" class="logo">
      Oumaima
    </a>
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/about-me" routerLinkActive="active">About Me</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li>
        <a href="https://oumaimazerouali.github.io/devs-insights/" target="_blank">
          Blog <i class="fas fa-external-link-alt external-link-icon"></i> </a>
      </li>
      <li>
        <a href="https://jcast.dev" target="_blank" class="jcast-link">
          <img src="assets/logo-without-bg.png" alt="JCast Logo" class="jcast-logo"> </a>
      </li>
    </ul>
  </nav>
</header>
