---
layout: default
---

<div class="about-page">
    {{ content }}
</div>

<script type="application/ld+json">
{"@context":"https://schema.org","@type":"Person","name":"{{ site.author.name }}","url":"{{ site.url }}{{ page.url }}","email":"{{ site.author.email }}","description":"Full-stack software developer specializing in Java, Spring Boot, Quarkus, and Angular. Co-host of JCast podcast and CoderDojo mentor","knowsAbout":["Java","Spring Boot","Quarkus","Angular","Software Architecture","Backend Development","Clean Code"],"affiliation":[{"@type":"Organization","@id":"https://jcast.dev/#org","name":"JCast","url":"https://jcast.dev"},{"@type":"Organization","name":"CoderDojo"}],"performerIn":{"@type":"PodcastSeries","@id":"https://jcast.dev#podcast-series","name":"JCast","url":"https://jcast.dev"},"alumniOf":{"@type":"Organization","name":"Thomas More"}}
</script>

