---
layout: default
---

<div class="about-page">
    {{ content }}
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": "{{ site.url }}/#oumaima-zerouali",
      "name": "{{ site.author.name }}",
      "url": "{{ site.url }}",
      "email": "{{ site.author.email }}",
      "image": {
        "@type": "ImageObject",
        "@id": "{{ site.url }}/#logo",
        "url": "{{ site.logo | absolute_url }}"
      },
      "description": "Full-stack software developer specializing in Java, Spring Boot, Quarkus, and Angular. Co-host of JCast podcast and CoderDojo mentor",
      "jobTitle": "Software Developer",
      "knowsAbout": [
        "Java",
        "Spring Boot",
        "Quarkus",
        "Angular",
        "Software Architecture",
        "Backend Development",
        "Clean Code"
      ],
      "affiliation": [
        {
          "@type": "Organization",
          "@id": "https://jcast.dev/#org",
          "name": "JCast",
          "url": "https://jcast.dev"
        },
        {
          "@type": "Organization",
          "name": "CoderDojo"
        }
      ],
      "alumniOf": {
        "@type": "Organization",
        "name": "Erasmus Hogeschool"
      },
      "sameAs": [
        "https://github.com/{{ site.github_username }}",
        "https://www.linkedin.com/in/{{ site.linkedin_username }}",
        "https://www.instagram.com/{{ site.instagram_username }}",
        "https://jcast.dev"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "{{ site.url }}/#website",
      "url": "{{ site.url }}",
      "name": "{{ site.title }}",
      "publisher": {
        "@type": "Person",
        "@id": "{{ site.url }}/#oumaima-zerouali"
      }
    },
    {
      "@type": "WebPage",
      "@id": "{{ page.url | absolute_url }}#webpage",
      "url": "{{ page.url | absolute_url }}",
      "name": "{{ page.title }}",
      "isPartOf": {
        "@type": "WebSite",
        "@id": "{{ site.url }}/#website"
      },
      "about": {
        "@type": "Person",
        "@id": "{{ site.url }}/#oumaima-zerouali"
      },
      "mainEntity": {
        "@type": "Person",
        "@id": "{{ site.url }}/#oumaima-zerouali"
      },
      "inLanguage": "{{ page.lang | default: site.default_lang }}"
    }
  ]
}
</script>

