<div class="about-container">
  <div class="about-header">
    <h2>What's up!</h2>
  </div>

  <div class="about-section">
    <div class="section-titlebar">
      <span>Profiel</span>
    </div>
    <div class="section-content">
      My name is Oumaima.
      I'm a full-stack developer who blends clean code with creative thinking,
      <br>
      building apps that not only work well but feel personal.
      <br>
      I care as much about architecture as I do about user experience.
    </div>
  </div>

  <div class="about-section">
    <div class="section-titlebar">
      <span>Skills</span>
      <ul>
        <li>Angular (TypeScript)</li>
        <li>HTML / SCSS / Tailwind CSS</li>
        <li>Component Design & Accessibility</li>
      </ul>
      <ul>
        <li>Java</li>
        <li>Spring Boot / Spring Security</li>
        <li>Quarkus</li>
        <li>RESTful APIs & Microservices</li>
      </ul>
      <ul>
        <li>Maven, Git, GitHub Actions</li>
        <li>PostgreSQL / MySQL</li>
      </ul>
    </div>

  </div>

  <div class="about-footer">
    <button class="button-98" (click)="onOkClick()">OK</button>
  </div>
</div>
